@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');
.sharmas {
    color: blue;
    font-family: "Gupter", serif;
    text-align: center;
}
.sharmas1 {
    color: black;
    font-family: "Playwrite HR Lijeva", cursive;
    text-align: center;
}