*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , 'sans-serif';
}
.menu {
    height: 30px;
}
.logo {
    height: 30px;
}
.notification {
    height: 30px;
    margin-right: 10px;
}
.create {
    height: 30px;
    margin-right: 10px;
}
.account {
    height: 30px;
    margin-right: 10px;
}
.navbar {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    position: sticky;
}
.search {
    width: 450px;
    height: 41px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
}
.search-logo {
    height: 25px;
    margin-left: 10px;
    margin-top: 5px;
}
.index-middle {
    align-items: center;
    justify-content: center;
}
.home {
    height: 25px;
}
.homepage {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 1px;
    color: black;
}
.homepage1 {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 10px;
    color: black;
}
.homepage2 {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 10px;
    margin-left: 10px;
    color: black;

}
.para {
    margin-left: 10px;
    margin-top: 10px;
}
.your-channel img {
    height: 30px;

}
.homepage0 {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 10px;
    color: black;
    height: 5px;
}
.left-side {
    margin-right: 1030px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    position: sticky;
}
.home{
    margin-top: 10px;
}
.x-victo  {
    width: 175vh;
    margin-left: 155px;
    margin-top: -800px;
    margin-bottom: 89px;
}
