.body1 {
    background-color: black;
    color: white;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}
.navigation-right {
    padding-left: 20px;
}
.nav-left {
    display: flex;
    align-items: center;
    padding-right: 20px;
    flex-direction: row;

}
.a-element {
    padding: 10px;
    display: flex;
    margin: 10px;
    font-weight: bold;
}
.home {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 90vh;

}
.ssv-image {
    height: 400px;
    border: 3px solid white;

}
.home-left {
    width: 50vw;
    padding-left: 50px;
}
.home-right {
    width: 25vw;
    padding-right: 250px;
}
.font1 {
    font-family: 'Times New Roman', Times, serif;
}
.font2 {
    font-family :'Times New Roman', Times, serif;
}
.services {
    padding: 50px;
    text-align: center;
    letter-spacing: 2px;
}
.heading {
    color: rgb(18, 184, 18);
    font-family: 'Times New Roman', Times, serif;
}
.services-sub-cont {
    display: flex;
    flex-direction: row;
    padding: 5px;
}
.sc{
    border: 2px solid rgb(13, 247, 13);
    margin: 15px;
    width: 400px;
}
.hd1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-size: bold;
}
.para1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.contact {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.instagram {
    height: 50px;
    padding: 10px;
}
.contact-info {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.mail {
    color: white;

}
